.playfield {
	height: 100vh;
	background-color: #3CA2E0;
	color: white;
}

.playfield::before {
	height: 50px;
}

.playfield-self {
	background-color: white;
	color: #666666;

	margin-bottom: 30px;
	padding-bottom: 15px;
}

.playfield-opponents {
	background-color: white;
	color: #666666;

	padding-bottom: 15px;
}

.playfield-sidebar {
	height: 100vh;
	background-color: #ECF0F1;
	color: #666666;
}

.bg-white {
	background-color: white;
}

.playable-card {
	border: transparent solid 4px;
	position: absolute;
	bottom: -90vh;
}

.playable-card:hover {
	cursor: pointer;
	border: rgba(0, 0, 0, 0.5) solid 4px;
	bottom: -88vh;
}